body {
  margin: 0;
  padding: 0;
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.containerTitle {
  display: flex;
  justify-content: space-between;
}
.titleSong {
  color: white;
  margin-left: 50px;
}
.containerMain {
  margin: 20px;
  background-color: rgb(39, 37, 37);
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.containerVideo {
  padding: 20px;
  display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
}
.containerLyrics {
  color: rgb(214, 191, 191);
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.textLyrics {
  margin: 10px;
}

.titulo {
  text-align: center;
}

button {
  height: 100px;
  width: 200px;
  margin: -20px -50px;
  position: relative;
  top: 20%;
  left: 50%;
  font: message-box;
}
